/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dela Gothic One",cursive;
  border-radius: 6px;
  transition: all 0.3s ease;
}

body {
  background-image: url('./banner-img.png') ;
  /* background-repeat: no-repeat;
  background-size: cover; */

  background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* Mà hình che đi lúc mới vào */
.start-page {
  /* border: 1px solid red; */
  margin-top: 25%;
  /* min-height: 150px; */
}
.App-question-area {
  min-height: 150px;
}

.App-start-btn {
  background-color: rgba(19, 162, 228, 0.8);
  color: white;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  
  animation: up-down 2s 0.5s infinite;
  -webkit-animation: up-down 2s 0.5s infinite;
}

.App-start-btn:hover {
  background-color: rgba(19, 162, 228, 0.6);
  color: white;
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.quiz-container {
  /* border: 0.1px solid red; */
  /* height: 100vh; */
  /* background-color: rgba(0, 0, 0, 0.8); */

  
  border-radius: 0px;
  padding: 20px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 8px;
}
.quiz-title-name {
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.process {
  background-color: rgba(38, 38, 38, 0);
  color: white;
  padding: 2px 2px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.actual-progress {
  background-color: rgb(238, 163, 65);
  width: 1%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 0px 0px;
  text-align: center;
}
/* Thanh thông tin chung quiz */
.infor-btn-points-gift {
  background-color: rgba(38, 38, 38, 0);
  padding: 4px 4px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.infor-btn-points-gift span {
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.moneys-helps {
  display: flex;
  flex-direction: row;
  grid-gap: 2px;
}

.number-of-question {
  padding: 6px 12px;
  color: rgb(255, 255, 255);
}
/* Tiền thưởng nhận được */
.money-bonus {
  background-color: rgba(238, 213, 131, 0.4);
  color: rgba(239, 201, 72, 1);
  padding: 6px 12px;
  cursor: grab;
}
.money-bonus:hover {
  background-color: rgba(238, 213, 131, 0.5);
}
.money-bonus:active {
  cursor: grabbing;
  background-color: rgba(238, 213, 131, 6);
  color: rgb(255, 255, 255);
}

/* Các sự trợ giúp */
.helps {
  background-color: rgb(255, 255, 255);
  color: rgb(81, 29, 133);
  padding: 6px 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-gap: 12px;
  cursor: pointer;

  position: relative;
}
.helps span {
    width: auto!important;
    transition: all 0.1s!important;
}
.helps span:hover {
  color: rgb(228, 127, 19);
  transform: scale(1.1);
}
.eruditeSuggestion {
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.5);
  color: white;

  position: absolute;
  top: 110%;
  right: 0%;
}
/* Phần câu hỏi và câu trả lời */
.quiz-form {
  /* border: 0.1px solid violet; */
  border-radius: 6px;
  /* background-color: rgba(70, 26, 66, 1); */

  width: 100%;
  padding: 8px 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
}
/* Nút bắt đầu chơi */
.start-play-quiz {
  background-color: rgba(38, 38, 38, 1);
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.start-play-quiz:hover {
  color: white;
  background-color: rgba(123, 122, 122, 0.5);
}
/* Câu hỏi */
.questions {
  border: 1px solid rgb(184, 21, 192);
  background-color: rgba(70, 26, 66, 0.6);
  width: 100%;
  /* padding: 40px 0px 100px 0px; */
  /* Fix cứng */
  height: 180px;

  color: white;
  font-size: 24px;
  font-weight: 500;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Các đáp án */
.answers {
  /* border: 1px solid red; */
  width: 100%;
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-gap: 8px;
}
.answer {
  border: 1px solid inherit;
  width: 100%;
  /* Fixed cứng */
  height: 300px;

  padding: 12px;
  color: white;
  font-size: 22px;
  font-weight: 500;
  border-radius: 6px;
  opacity: 1;
  cursor: pointer;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  transition: all 0.15s;
}
.answer:hover {
  opacity: 0.8;
}
.answer:active {
  opacity: 1;
}

/* Nút số chọn đáp án */
.numerical-order {
  border-radius: inherit;
  background-color: inherit;
  font-size: 15px;

  padding: 2px 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  text-align: center;
}
#option-1 {
  background-color: rgba(47, 109, 174, 0.9);
}
#option-2 {
  background-color: rgba(44, 156, 166, 0.9);
}
#option-3 {
  background-color: rgba(236, 168, 44, 0.9);
}
#option-4 {
  background-color: rgba(212, 84, 106, 0.8);
}

/* Nút chuyển câu */
.buttons {
  /* width: 400px; */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 8px;
}
.buttons span {
  /* width: 100%; */
  text-align: center;
}
.buttons span:active {
  transform: scale(1.05);
}

.skip-question {
  background-color: rgb(255, 255, 255);
  color: rgb(81, 29, 133);
  padding: 8px 20px;
  cursor: pointer;
}
.skip-question:hover {
  background-color: rgb(197, 164, 230);
  color: rgb(81, 29, 133);
}

.stop-quiz {
  background-color: rgb(255, 255, 255);
  color: rgb(81, 29, 133);
  padding: 6px 12px;
  cursor: pointer;
}
.stop-quiz:hover {
  background-color: rgba(228,35,19, 1);
  color: rgb(255, 255, 255);
}

/* Màn thông báo kết quả, chúc mừng */
.result-page-container {
  width: 100%;
  color: rgb(255, 255, 255);
  margin-top: 20%;
}
.result-page {
  background: rgba(228, 133, 8, 0.8);
  margin: auto;
  /* width: 50%; */
  padding: 20px 8px;

}
.result-page p {
  color: white;
}

.App-reply-btn {
  background-color: rgba(113, 228, 19, 0.8);
  color: white;
  margin: auto;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  
  animation: up-down 2s 0.5s infinite;
  -webkit-animation: up-down 2s 0.5s infinite;
}

.App-reply-btn:hover {
  background-color: rgba(19, 162, 228, 0.6);
  color: white;
}
/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  .actual-progress {
    font-size: 12px;
  }
  .infor-btn-points-gift {
    flex-direction: column;
    grid-gap: 8px;
  }
  .infor-btn-points-gift span {
    width: 100%;
  }
  .moneys-helps {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
  }
  .number-of-question,
  .skip-question,
  .money-bonus,
  .helps {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
  }
  .helps {
      font-size: 14px;
      justify-content: space-evenly!important;
  }

  .questions {
    font-size: 20px;
    padding: 80px 0px;
  }
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .answer {
    height: 100%;
    font-size: 18px;
    padding: 30px 8px;
  }

  .buttons {
    width: 100%;
    flex-direction: column;
  }
}

/* Small */
@media (min-width: 576px) {
  .actual-progress {
    font-size: 12px;
  }
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .answer {
    height: 100%;
    padding: 30px 8px;
  }
}

/* Medium */
@media (min-width: 768px) {
  .actual-progress {
    font-size: 12px;
  }
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .answer {
    height: 100%;
    padding: 30px 8px;
  }
}

/* Large */
@media (min-width: 992px) {
  .actual-progress {
    font-size: 14px;
  }
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .answer {
    height: 100%;
    padding: 60px 8px;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .answer {
    height: 100%;
    padding: 90px 8px;
  }
}

/* Extra extra large */
@media (min-width: 1400px) {
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .answer {
    height: 100%;
    padding: 100px 8px;
  }
}
/* End Responsive by @Media same  bootstrap*/


